In [2]:
import pandas as pd

In [4]:
df = pd.read_excel('StudentsPerformance.xlsx',index_col=0,sheet_name = 'StudentsPerformance')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44
5,male,group C,some college,standard,none,76,78,75

## Practice Joins on smaller Datasets

In [7]:
#How this happens
df.groupby('Unnamed: 2')

In [ ]:
df[['Unnamed: 6','reading score','writing score']].apply(lambda x: )

In [6]:
df['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [9]:
#Learn About this Function More!! **Very Important**
#df.agg()

In [12]:
df.rename(columns = lambda x: x.upper(), inplace=True)

In [13]:
df['avg'] = df['UNNAMED: 6'] + df['READING SCORE'] + df['WRITING SCORE']

In [ ]:
df.apply(lambda x:)

In [14]:
map(round,df['avg'])

In [15]:
df['math score']+10

KeyError: 'math score'

In [ ]:
df['math score'].apply(lambda x: x+10)